@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");

// Fonts
$font: "Epilogue", sans-serif;

// Font Properties
$card-title-size: 1.5rem;
$card-title-weight: 500;
$card-role-size: 1.5rem;
$card-button-size: 2.5rem;
$font-size-normal: 1.2rem;

// Colours
$colour-primary: #2dd9de;
$colour-header: #023c8d;
$colour-background: #01265a;
$colour-card-accent: #9eacd1;
$colour-card-green: #47d130;
$colour-card-orange: #d7af49;
$colour-card-red: #d13a30;
$colour-black: #000000;
$colour-white: #ffffff;
$colour-grey: #dbdade;

// Sizes
$card-width: 242px;
$footer-height: 100px;

// Margins & Paddings:
$card-padding: 40px;
$tickets-margin-top: 100px;
$filter-margin: 16px;
