@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");

// Fonts
$font: "Epilogue", sans-serif;

// Font Properties
$card-title-size: 1.5rem;
$card-title-weight: 500;
$card-role-size: 1.5rem;

// Colours
$colour-primary: #2dd9de;
$colour-header: #023c8d;
$colour-background: #01265a;
$colour-card-accent: #9eacd1;
$colour-black: #000000;
$colour-white: #ffffff;
$colour-grey: #dbdade;

// Sizes
$card-width: 242px;
$card-min-height: 190px;

// Margins & Paddings:
$card-padding: 40px;
