@use "../../assets/scss/variables" as *;

.tickets {
  margin: $tickets-margin-top 60px;
  margin-bottom: $footer-height;
  display: grid;
  grid-template-columns: repeat(auto-fit, $card-width);
  justify-content: center;
  column-gap: 50px;
  row-gap: 40px;
  position: relative;
}

@media screen and (min-width: 900px) {
  .tickets {
    margin: $tickets-margin-top 160px;
    margin-bottom: $footer-height;
    row-gap: 48px;
  }
}
